# Rat-specific
config/config.json
uploads/originals/*
uploads/stream/*
uploads/thumbnails/*
static/template_cache/*
!.gitignore

# Old PleaseBuildThis images rescued from PHPFog

!uploads/originals/argument.jpeg
!uploads/stream/argument.jpeg
!uploads/thumbnails/argument.jpeg

!uploads/originals/code.png
!uploads/stream/code.png
!uploads/thumbnails/code.png

!uploads/originals/conkers.jpeg
!uploads/stream/conkers.jpeg
!uploads/thumbnails/conkers.jpeg

!uploads/originals/elephant.png
!uploads/stream/elephant.png
!uploads/thumbnails/elephant.png

!uploads/originals/EmailTop_2-1.jpeg
!uploads/stream/EmailTop_2-1.jpeg
!uploads/thumbnails/EmailTop_2-1.jpeg

!uploads/originals/emoji.png
!uploads/stream/emoji.png
!uploads/thumbnails/emoji.png

!uploads/originals/exchange.jpeg
!uploads/stream/exchange.jpeg
!uploads/thumbnails/exchange.jpeg

!uploads/originals/frustration.png
!uploads/stream/frustration.png
!uploads/thumbnails/frustration.png

!uploads/originals/giftrobot.jpeg
!uploads/stream/giftrobot.jpeg
!uploads/thumbnails/giftrobot.jpeg

!uploads/originals/hate.jpeg
!uploads/stream/hate.jpeg
!uploads/thumbnails/hate.jpeg

!uploads/originals/merge.jpeg
!uploads/stream/merge.jpeg
!uploads/thumbnails/merge.jpeg

!uploads/originals/money.jpeg
!uploads/stream/money.jpeg
!uploads/thumbnails/money.jpeg

!uploads/originals/nag.jpeg
!uploads/stream/nag.jpeg
!uploads/thumbnails/nag.jpeg

!uploads/originals/nosubject.png
!uploads/stream/nosubject.png
!uploads/thumbnails/nosubject.png

!uploads/originals/pstam_mcclure_pirate_lifecycle.jpeg
!uploads/stream/pstam_mcclure_pirate_lifecycle.jpeg
!uploads/thumbnails/pstam_mcclure_pirate_lifecycle.jpeg

!uploads/originals/pumice.jpeg
!uploads/stream/pumice.jpeg
!uploads/thumbnails/pumice.jpeg

!uploads/originals/russianbear.jpeg
!uploads/stream/russianbear.jpeg
!uploads/thumbnails/russianbear.jpeg

!uploads/originals/spelling.gif
!uploads/stream/spelling.gif
!uploads/thumbnails/spelling.gif

!uploads/originals/tumbleweed.jpeg
!uploads/stream/tumbleweed.jpeg
!uploads/thumbnails/tumbleweed.jpeg

!uploads/originals/twss.jpeg
!uploads/stream/twss.jpeg
!uploads/thumbnails/twss.jpeg

!uploads/originals/web.jpeg
!uploads/stream/web.jpeg
!uploads/thumbnails/web.jpeg

vendor/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties
